*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form__container{
    color: white;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.137);
    display: flex;
    margin: 5px;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
}


.name{
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 48%;
}

input{
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

input[type='checkbox']{
    accent-color: rgb(5, 211, 183);
    width: 15px;
    height: 15px;
}

.terms{
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.terms a {
    color: rgba(10, 25, 38, 0.611);

}

button{
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    background-color: rgb(5, 211, 183);
    cursor: pointer;
    font-size: 15px;
}


button:hover{
    background-color: rgb(8, 204, 178);
}

button:active{
    background-color: rgb(45, 241, 215);
}

.back {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px; 
}

.back a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.back a:hover {
    background-color: #2980b9;
}
